

.sample{
  width: 100%;/* 要素の幅*/
  height: 200px;/* 要素の高さ*/
  background-color: aqua;/* 背景色の変更 */  
}
h1{
  font-size: 50px;/* 文字サイズの変更 */
  line-height:250px;/* 文字要素の高さ指定*/
  text-align: center;/* 文字を中央揃え */
}

.alltag{
	width: 100%;
}
.alltag ul{
	display: flex;
	justify-content: center;

}
.alltag li{
	padding: 2em;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */



/* メモ帳アプリ　全体 ----------------------*/

#memo{
  width: 50%;
  margin-left: 25%;/*要素　外側 左余白の変更*/
  margin-top: 3em;/*要素　外側 上余白の変更*/
  height: auto;/*　高さ指定　*/
  border: solid 1px #000;/* 要素の枠線 (種類 太さ 色）*/

  margin-bottom: 300px;
}

/* メモ帳アプリ　タイトル ------------------*/
h2{
  text-align: center;/* 文字を中央揃え */
  font-size: 30px;/* 文字サイズの変更 */
  margin-top: 30px;/*要素　外側 上余白の変更*/
  margin-bottom: 30px;/*要素　外側 下余白の変更*/
}

/* 登録用のボックス -----------------------*/

textarea{
  margin-bottom: 30px;/*要素　外側 下余白の変更*/
}

/* 並び順、表示数　-----------------------*/

select{
	width: 100%;
}

.slct01,.slct02 {
	position: relative;/*基準位置に指定*/
  width: 40%;/* 要素の幅*/
	margin: 1em auto;/* 要素　外側の余白　(上下　左右)*/
	text-align: center;/* 文字を中央揃え */
}

/* 登録内容　-----------------------------*/

.memo-area ul{
	width: 50%;/* 要素の幅*/
	margin-left: 25%;/* 要素　外側 左余白の変更*/
	/* width(%) + margin-left(%)*2 =　100% =中央に配置  */
}
.memo-area li{
	border-bottom: solid 1px;/* 要素の枠線(border-bottomで下のみ)*/
	padding: 1.5em;/* 要素　内側の余白*/
	text-align: left;/* 文字左寄せ*/
}


/* その他見栄え　--------------------------*/

.memo-area,.pagination,.memo-form{
  width: 100%;/* 要素の幅*/
	margin: 1em auto;/* 要素　外側 余白の変更 (上下　左右)*/
	text-align: center;/* 文字を中央揃え */
}

h3,form{
  margin-top: 2em;/* 要素　外側の余白*/
}
.memo-area span{
	font-weight: bold;
	line-height: 2em;
}


/* 擬似要素css */

/*.slct01::before {
	position: absolute;/*絶対位置に配置*/
	/* top: 0.6em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
} */

/*.slct01:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}
*/
/* 擬似要素css  end*/