{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'memo_app/reset.css' %}">
        <link rel="stylesheet" href="{% static 'memo_app/style.css' %}">
        <title>memo_app</title>
    </head>
    <body>
        <div id="memo">
            <h2>メモ帳アプリ</h2>
            <div class="memo-form">
                <h3>メモ内容</h3>
                <form action="{% url 'post' %}" method="post">
                    {% csrf_token %}
                    {{ form.content }}<br>
                    <input type="submit" value="登録">
                </form>

                <form action="{% url 'set_order_option' %}" method="post">
                    {% csrf_token %}
                    <div class="slct01">
                        {{ order_option_form.order_option }}
                    </div>
                </form>

                <form action="{% url 'set_record_number' %}" method="post">
                    {% csrf_token %}
                    <div class="slct02">
                        {{ record_number_form.record_number }}
                    </div>
                </form>

                <div class="memo-area">
                    <h3>メモ内容一覧</h3>
                    <ul>
                        {% for memo in page %}
                            <li>
                                <span>{{ memo.update_datetime|date:"Y/m/d H:i:s" }}</span><br>
                                {{ memo.content }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="pagination">
                    {% if page.has_previous %}
                        <a href="{% url 'index' %}{{ page.previous_page_number }}">前へ</a>
                    {% endif %}
                    {% for num in page.paginator.page_range %}
                        {% if page.number == num %}
                            <span class="current">{{ page.number }}</span>
                        {% else %}
                            <a href="{% url 'index' %}{{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page.has_next %}
                        <a href="{% url 'index' %}{{ page.next_page_number }}">次へ</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </body>
<html>